<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.IKEA">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 兼容老版本（4.4以下）声明访问SD卡的权限 -->
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_ikea"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".RegisterActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.IKEA.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".FurnitureActivity" />
        <activity android:name=".ChangeFurniture" />
        <activity android:name=".ChangeMember" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".ShoppingCar"></activity>
    </application>

</manifest>